.cp1{ color: var(--primary-c1)}
.cp2{ color: var(--primary-c2)}
.cp3{ color: var(--primary-c3)}
.cp4{ color: var(--primary-c4)}

.cp1s1{ color: var(--primary-c1-s1)}
.cp2s1{ color: var(--primary-c2-s1)}
.cp3s1{ color: var(--primary-c3-s1)}

.cp1s2{ color: var(--primary-c1-s2)}
.cp2s2{ color: var(--primary-c2-s2)}
.cp3s2{ color: var(--primary-c3-s2)}

.cp1s3{ color: var(--primary-c1-s3)}
.cp2s3{ color: var(--primary-c2-s3)}
.cp3s3{ color: var(--primary-c3-s3)}

.cs1{ color: var(--secondary-c1)}
.cs2{ color: var(--secondary-c2)}
.cs3{ color: var(--secondary-c3)}
.cs4{ color: var(--secondary-c4)}

.bp1{ background-color: var(--primary-c1)}
.bp2{ background-color: var(--primary-c2)}
.bp3{ background-color: var(--primary-c3)}
.bp4{ background-color: var(--primary-c4)}

.bp1s1{ background-color: var(--primary-c1-s1)}
.bp2s1{ background-color: var(--primary-c2-s1)}
.bp3s1{ background-color: var(--primary-c3-s1)}

.bp1s2{ background-color: var(--primary-c1-s2)}
.bp2s2{ background-color: var(--primary-c2-s2)}
.bp3s2{ background-color: var(--primary-c3-s2)}

.bp1s3{ background-color: var(--primary-c1-s3)}
.bp2s3{ background-color: var(--primary-c2-s3)}
.bp3s3{ background-color: var(--primary-c3-s3)}

.bs1{ background-color: var(--secondary-c1)}
.bs2{ background-color: var(--secondary-c2)}
.bs3{ background-color: var(--secondary-c3)}
.bs4{ background-color: var(--secondary-c4)}

.show {
    display: block;
}

@font-face {
    font-family: 'Minecraftia';
    src: url('/res/fonts/Minecraftia-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }


div#canvas {
    float: left;
    position: relative;
    width: 100%;
    padding-top: 100%;
}

div#canvas > canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
    z-index: 1;
}

.top-row h1 {
    font-family: Minecraftia;
    padding-top: 1rem;
    margin-top: auto;
}

.main {
    flex: 1;
    border-left: 1px solid var(--secondary-c3);
}

.main .top-row {
    border-bottom: 1px solid var(--secondary-c3);
    background-color: var(--primary-c2-s3);
    justify-content: flex-end;
}

.main .top-row > a, .main .top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;

}

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.main .top-row .nav-item {
    display: inline-flex;
    flex-flow: column;
    justify-content: flex-end;
}
.main .top-row .nav-item > a {
    padding-right: 1rem;
    border-right: 1px solid var(--secondary-c3);
}

.hidden {
    display: none;
}

.content {
    padding-top: 1.1rem;
}

.form-row {
    margin-bottom: 0.3rem;
}

.form-row > div {
    display: flex;
}
.form-row > div > label {
    border-bottom: 1px solid var(--secondary-c3);
    width: 90%;
}

.form-row:last-of-type {
    margin-bottom: 0;
}

.figure-caption {
    font-size: unset;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: var(--primary-c2-s3);
    color: var(--primary-c3);
}
.nav-tabs {
    color: var(--primary-c3);
}

.btn-primary {
    background-image: unset;
    color: var(--secondary-c1);
    background-color: var(--primary-c2-s2);
    border-color: var(--primary-c2-s1);
}

.btn-primary:hover {
    background-image: unset;
    color: var(--secondary-c1);
    background-color: var(--primary-c2-s1);
    border-color: var(--primary-c2);
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
    background-image: unset;
    color: var(--secondary-c1);
    background-color: var(--primary-c2);
    border-color: var(--primary-c2);
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem var(--primary-c1-s2);
}

.btn-secondary {
    background-image: unset;
    color: var(--primary-c3);
    background-color: var(--primary-c3-s3);
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show>.btn-secondary.dropdown-toggle {
    background-image: unset;
    color: var(--primary-c3);
    background-color: var(--secondary-c4);
}

.btn-secondary:hover {
    background-image: unset;
    color: var(--primary-c3);
    background-color: var(--primary-c3-s2);
}

.btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem var(--primary-c1-s2);
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}